<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>

<%= link_to "Dual Boot", root_path, :class => 'navbar-brand' %> 
</div>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Posts", posts_path %></li>
    </ul>
</div>

